# 데이터 전처리
- Null 처리
- 불필요한 속성 제거
- 인코딩 수행

# 모델 학습 및 검증/예측/평가
- 결정 트리, 랜덤 포레스트, 로지스틱 회귀 학습 비교
- K-fold 교차 검증
- cross_val_score()와 GridSearchCV() 수행

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

titanic_df = pd.read_csv('titanic/titanic_train.csv')
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

- Passengerid : 탑승자 일련번호
- survived :  생존 여부(0 : 사망, 1 : 생존)
- Pclass : 티켓의 선실 등급(1 : 일등석, 2 : 이등석, 3 : 삼등석)
- name : 탑승자 이름
- sex : 탑승자 성별
- Age : 탑승자 나이
- sibsp : 같이 탑승한 형제자매 또는 배우자 인원수
- parch : 같이 탑승한 부모님 또는 어린이 인원수
- ticket : 티켓 번호
- fare : 요금
- cabin : 선실 번호
- embarked : 중간 정착 항구(C : Cherbourg, Q : Queenstown, S : Southhampton)